<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
		<title>{{ page.title }} - {{ site.title }}</title>

		<link rel="stylesheet" href="/reveal/css/reveal.css">
		<link rel="stylesheet" href="/reveal/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/reveal/lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/reveal/css/print/pdf.css' : '/reveal/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section data-markdown
								 data-separator="<hslide>"
								 data-separator-vertical="<vslide>"
								 data-separator-notes="^Note:"
								 data-charset="utf8">
					<!--<script type="text/template">-->
						<!--{{content}}-->
					<!--</script>-->
					{{content}}
				</section>
				<!--{{content}}-->
			</div>
		</div>
		<script src="/reveal/lib/js/head.min.js"></script>
		<script src="/reveal/js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide',

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '/reveal/plugin/markdown/marked.js' },
					{ src: '/reveal/plugin/markdown/markdown.js' },
					{ src: '/reveal/plugin/notes/notes.js', async: true },
					{ src: '/reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '/reveal/plugin/zoom-js/zoom.js', async: true }
				]
			});
		</script>
		<!-- fork me on github ribbon -->
		<!--<a href="https://github.com/dodoinblue"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>-->
	</body>
</html>
